<%- include("header") %>

<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">
    <% listItems.forEach(item => { %>
    <form action="/check" method="post">
        <div class="item">
            <% if(item.isChecked) { %>
                <input type="checkbox" name="checkbox" value="true" onchange="this.form.submit()" checked/>
            <% } else { %>
                <input type="checkbox" name="checkbox" value="true" onchange="this.form.submit()" />
            <% } %>
            
            <p><%= item.name %></p>

            <button type="submit" formaction="/delete"><i class="fa fa-trash" aria-hidden="true" ></i></button>
        </div>
        <input type="hidden" name="itemID" value="<%=item._id%>">
        <input type="hidden" name="listName" value="<%=listTitle%>" />

    </form>
    <% }) %>
    <form class="item" action="/" method="post">
        <input placeholder="Vul hier de naam in" name="newItem" type="text" autocomplete="off" />
        <button class="add" type="submit" name="list" value="<%=listTitle%>"><span><i class="fa-solid fa-plus"></i></span></button>
    </form>
</div>

<%- include("footer") %>
